@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lora:ital,wght@0,400..700;1,400..700&display=swap");
@import "tailwindcss";

@theme {
    --color-background: #0b0c0d;
    --color-primary: #191b1c;
    --color-secondary: #131416;
    --color-border: #2e2e2c;
    --color-offwhite: #cccac6;
    --font-lora: Lora, serif;
    --drop-shadow-glow: 0 0 3px rgba(255,255,255,0.5);
}

@utility glow {
    @apply drop-shadow-[0_0_3px_rgba(255,255,255,.5)];
}

:root {
    --background: #0b0c0d;
    --foreground: #ededed;
}

body {
    color: var(--foreground);
    background: var(--background);
    font-family: Inter, sans-serif;
}
